body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
.appTitle{
  color: pink;
}
.appTitleOptions{
  font-size: medium;
  display: flex;
}
.appTitleIcon{
  height: 20px;
  width: 20px;
  border: 2px solid red;
  margin-right: 10px;
}

.mainPage {
  
  display: flex;
  flex-direction: column; /* Ensures vertical stacking of children */
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.mainPageHeader {
  width: 100%;
  flex: 0 0 12%;
  display: flex;
  align-items: center;
  padding: 1%;
  background-color: rgb(129, 191, 230);
  border-bottom: 1px solid rgb(204, 190, 190);
  position: sticky;
  top: 0;
  z-index: 1000;
  overflow: hidden;

 
}
.headerImage{

}
.reelChatLogo{
    height: 50px;
    width: 50px;
    /* Adjust the color and width as needed */
    background-color: transparent; /* Make the background transparent */
    
    
   
}

.mainPageHeaderInformation {
  font-size: 30px;
  font-weight: 800;
  margin-left: 1%;
  color: white;
}

.mainPageWorkArea {
  display: flex;
 height: 100%;
  overflow: hidden;
 

}

.mainPageSideBar {
  display: flex;
  flex-direction: column;
  flex: 0 0 20%;
  border-right: 1px solid black;
  height: 100%;
  overflow: hidden;
 
}

.mainPageBody {
  display: flex;
  flex:  0 0 80%;
  flex-direction: column;
  height: 100%;
 
  /* overflow-y: auto; */
width: 100%;
overflow: scroll;
}

.mainPageBody::-webkit-scrollbar {
  display: none;
}
/* ------------------- */

.popUpOptions {
  display: flex;
  flex-direction: column;
  font-size: large;
  color: rgb(170, 163, 163);
  padding: 10px 20px;
  align-items: center;
}

.redColorText {
  color: red;
}

.cancelOption {
  font-size: large;
  padding-bottom: 5px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  padding-top: 15px;
  border-top: 1px solid black;
}

.borderBottomNone {
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 100%;
}

.popUpOptionsText {
  padding-bottom: 5px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  border-bottom: 1px solid rgb(170, 163, 163);
}
